**Class declaration**

In [ ]:
class Employee:

  ##class varible
  raise_amnt=1.05

  def __init__(self,first,last,pay):
      self.first=first
      self.last=last
      self.pay=pay

  def fullnamewithpay(self):
    return '{} {} {}'.format(self.first,self.last,self.pay)

  def apply_raise(self):
    self.pay=int(self.pay * Employee.raise_amnt)   ## class variable can only be called from a class or instance

  ##class method 
  ## ****regular method in class takes self as default 1st argument, class method takes cls the class as default ***
  @classmethod
  def set_raise_amnt(cls,amount) :
    cls.raise_amnt=amount

  ##static method
  ## doesn't need any instance or class, can be called directly by class name
  @staticmethod
  def is_workday(day):
    if day.weekday()==5 or day.weekday()==6:
      return False
    return True

In [ ]:
emp1=Employee('Debasish','Ghosh',12346)
emp2=Employee('Coley','Brian',10096)

In [ ]:
print('Emp1 name is {} {}'.format(emp1.first,emp1.last))
print('Emp2 name is {} {}'.format(emp2.first,emp2.last))

Emp1 name is Debasish Ghosh
Emp2 name is Coley Brian

In [ ]:
print('Emp1 fullnamewithpay is {}'.format(emp1.fullnamewithpay()))
print('Emp2 fullnamewithpay is {}'.format(emp2.fullnamewithpay()))

Emp1 fullnamewithpay is Debasish Ghosh 12346
Emp2 fullnamewithpay is Coley Brian 10096

In [ ]:
print('Emp1 pay after raise {}'.format(emp1.apply_raise()))
print('Emp2 pay after raise {}'.format(emp2.apply_raise()))

Emp1 pay after raise None
Emp2 pay after raise None

In [ ]:
print(Employee.raise_amnt)
print(emp1.raise_amnt)
print(emp2.raise_amnt)

1.05
1.05
1.05

In [ ]:
## Lets call the class method on class name
Employee.set_raise_amnt(1.08)

In [ ]:
## new raise_amnt for each 
print(Employee.raise_amnt)
print(emp1.raise_amnt)
print(emp2.raise_amnt)

1.08
1.08
1.08

In [ ]:
##call static method
import datetime
my_date=datetime.date(2006,2,2)

print(Employee.is_workday(my_date))

True

**Inheritance**

In [ ]:
## create a subclass developer of employee class
class Developer(Employee):

  def __init__(self,first,last,pay,prog_lang):
    super().__init__(first,last,pay)
    self.prog_lang=prog_lang

In [ ]:
dev1=Developer('Debasish','Ghosh',12346,'Python')
dev2=Developer('Coley','Brian',10096,'C#')

In [ ]:
print('dev1 fullname with pay is {}'.format(dev1.fullnamewithpay()))
print('dev2 fullname with pay is {}'.format(dev2.fullnamewithpay()))

dev1 fullname with pay is Debasish Ghosh 12346
dev2 fullname with pay is Coley Brian 10096

In [ ]:
print('dev1 programming lang is {}'.format(dev1.prog_lang))
print('dev2 programming lang is {}'.format(dev2.prog_lang))

dev1 programming lang is Python
dev2 programming lang is C#

In [ ]:
##create another sub class Manager
class Manager(Employee):
  def __init__(self,first,last,pay,employees=None):
    super().__init__(first,last,pay)
    if employees is None:
      self.employees=[]
    else:
      self.employees=employees  

  def add_emp(self,emp):
    if emp not in self.employees:
      self.employess.append(emp)

  def remove_emp(self,emp):
    if emp in self.employees:
      self.employess.remove(emp)      

  def print_emps(self):
    for emp in self.employees:
      print('->',emp.first)

In [ ]:
mngr1=Manager('Amit','Sen',17000,[dev1,dev2])
#dev2=Developer('Coley','Brian',10096,'C#')

In [ ]:
mngr1.print_emps()

-> Debasish
-> Coley